.container {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 100% !important;
}

.container-fluid{
    background-color: oldlace;
}

.banner {
    width: 100%;
    height: 318px;
    background-color: #0b2e13;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    height: 318px;
}

.top-nav-btns{
    margin:0 auto;
    text-align: center;
}

.column-top-news{
    width:100%;
    height:80px;
    margin: 5px 0;
}

.news-img{
    height: 60px;
    width:200px;
}

.news-img img{
    line-height:60px;
    text-align: center;
    padding-top: 15px;
}

.news-img-title{
    line-height:60px;
    margin-top:15px;
}

.column img{
    width:240px;
    height:130px;
}

.column-news{
    margin-bottom:10px;
    clear:right;
    text-align:center;

}

.column-news {
    text-align:center;
}

.zi_yuan_ku{
    height:100px;
    width:100px;
    float:right;
    position:absolute;
    top:500px;
    right:0;
    text-align: center;
}

.zi_yuan_ku img{
    height:100px;
    width:100px;
}

.zi_yuan_ku_text {
    font-size: 25px;
}

.column_title{
    color: #000000;
}

.column-main-left{
    width:330px;
    height:200px;
}

.column-main-middle{
    width:330px;
    height:200px;
}

.column-main-right{
    width:330px;
    height:200px;
}

.column-video img{
    width:240px;
    height:130px;
}

.column-fixed img{
    width:240px;
    height:130px;
    text-align: center;
}

.column-fixed .tui_jian_title{
    font-size: 20px;
    margin-left: 30px;
}

.footer{
    margin-top:10px;
}
