
.container {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 100% !important;
}

.school-name-img {
    float: right;
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 50px;
    width:400px;
    height:93px;
}

.school-name-img img{
    width:400px;
    height:93px;
}

li {
    list-style: none;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.clear-float {
    clear: both;
}

.subject-title-menu {
    margin-top: 10px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.container-fluid {
    background-color: oldlace;
}

.banner {
    width: 100%;
    height: 318px;
    background-color: #0b2e13;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    height: 318px;
}

.nav {
    background: url("/static/imgs/nav_bg.png");
    height: 56px;
    text-align: center;
    padding: 10px;
}

.nav li {
    float: left;
    display: inline-block;
    width: 101px;
    height: 36px;
    border-radius: 10px;
    line-height: 36px;
}

.nav li.active {
    background-color: #2D93CA;
}

.nav li:hover {
    background-color: #2D93CA;

    -moz-transition: all 1s ease 0s; -webkit-transition:all 1s ease 0s; transition:all 1s ease 0s; -o-transition:all 1s ease 0s;
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

/*a:hover {*/
    /*text-decoration: none;*/
/*}*/

.top-news {
    height: 60px;
    margin: 0 auto;
    width: 1000px;
}

.news-left {
    text-align: left;
    width: 700px;
}

ul.line {
height: 50px;
width: 700px;
overflow: hidden;
}

ul.line li {
height: 50px;
text-indent: 15px;
font-size: 18px;
color: black;
line-height: 50px;
list-style: none
}

.lb-right-news {
    text-align: right;
    margin-left: 250px;
}

.news-left .lb-news-title {
    float: left;
    padding: 25px 0 1px 0;
    font-size: 16px;
    color: #474747;
    line-height: 20px;
    font-weight: normal;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-left .lb-news-content {
    color: black;
}

.news-img {
    height: 60px;
}

.news-img img {
    line-height: 60px;
    text-align: center;
    padding-top: 15px;
}

.news-img-title {
    line-height: 60px;
    margin-top: 15px;
}

.title_text {
    font-size: 13px;
    color: #fff;
    font-family: "Arial Black";
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
}

a:hover {
    text-decoration: underline;
    color: #fff;
}

.column-news {
    width: 1000px;
    height: 200px;
    margin: 5px auto;
    clear: right;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    color: #fff;
}

.column-news h5 {
    margin-left: 30px;
    line-height: 35px;
}

.column-new title {
    text-align: left;
    font-size: 20px;
    margin-top: 15px;
    line-height: 40px;
}

.ul_content {
    height: 132px;
}

.column-news .more {
    float: right;
    position: relative;
    right: 30px;
    bottom: 10px;
    color: #fff;
    display: block;
    font-size: 13px;
    border: 1px solid white;
    width: 95px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
}

.column-news .zheng-ce {
    width: 333px;
    height: 200px;
    background-color: #41b3e5;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    float: left;
}

.column-news .zong-jie {
    width: 333px;
    height: 200px;
    background-color: #0484cf;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    float: left;
}

.column-news .dian-xing {
    width: 333px;
    height: 200px;
    background-color: #3156a4;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    float: left;
}

.top-news .mr-3 {
    margin-left: 40px;
}

.column-js {
    height: 269px;
}

/* 建设成果*/
.js-main {
    float: left;
    width: 625px;
    height: 269px;
    background-color: #f4f4f4;
}

.js-main h4:hover{
    text-decoration: underline;
}

.column-js .jian_she_title {
    padding: 14px 0 10px 10px;
    color: #3156a3;
    font-size: 25px;
    line-height: 26px;
    text-align: left;
}

.js-main img {
    float: left;
    width: 198px;
    height: 184px;
    margin: 7px 0 0 22px;
}

.js-media {
    float: right;
    width: 364px;
    height: 269px;
}

.js-media .m {
    width: 364px;
    height: 269px;
}

.res-show-media {
    min-height: 400px;
    height: auto;
    margin-bottom: 20px;
}

.res-show-media .m2 {
    height: 400px;
}

.column-js li h3 {
    float: left;
    padding: 0 18px 0 20px;
    border-right: 1px solid #cbcbcb;
    color: #cbcbcb;
    font-size: 36px;
    line-height: 58px;
    font-weight: normal;
}

.column-js .li-con h4 {
    padding: 0 0 1px 0;
    font-size: 13px;
    color: #474747;
    line-height: 20px;
    font-weight: normal;
}

.column-js .li-con {
    float: left;
    margin-left: 16px;
    width: 275px;
    text-align: left;
    margin-bottom: 20px;
}

.zi_yuan_ku {
    height: 100px;
    width: 100px;
    float: right;
    position: absolute;
    top: 500px;
    right: 0;
    text-align: center;
}

.zi_yuan_ku img {
    height: 100px;
    width: 100px;
}

.zi_yuan_ku_text {
    font-size: 25px;
}

.column_title {
    color: #000000;
}

.column-fixed {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    height: 220px;
}

.column-fixed .tui_jian_title {
    padding: 14px 0 10px 10px;
    color: #3156a3;
    font-size: 25px;
    line-height: 26px;
    text-align: left;
}

.column-lb-title {
    padding: 14px 0 10px 10px;
    color: #3156a3;
    font-size: 25px;
    line-height: 26px;
    text-align: left;
}

.column-fixed .source_title {
    text-align: center;
}

.column-fixed img {
    width: 240px;
    height: 130px;
    text-align: center;
    border-radius: 5px;
}

.column-fixed .tui_jian_title {
    text-align: left;
}

.column-lb {
    margin: 0 auto 20px auto;
    width: 1000px;
}

.footer {
    width: 100%;
    height: 80px;
    position: relative;
    left: 0;
    bottom: 0;
    background: url("/static/imgs/nav_bg.png");
}

.footer .footer-school-name {
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #dee2e6;
}

.footer-address {
    line-height: 0;
    text-align: center;
    font-size: 14px;
    color: #dee2e6;
}

.subject-content {
    margin-top: 20px;
    height: 800px;
}

.subject-content a {
    color: black;
}

.index-page-location {
    display: inline-block;
    font: 12px/31px "\5b8b\4f53";
    color: #6f6f6f;
}

.index-page-location a:hover {
    color: red;
}

.index_sub_title{
    float:left;
    text-align: left;
    padding-left: 20px;
    width:300px;
}

.index_sub_time{
    text-align: right;
    float: right;
}

