
.container {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 100% !important;
}

.school-name-img {
    float: right;
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 50px;
    width:400px;
    height:93px;
}

.school-name-img img{
    width:400px;
    height:93px;
}

.bg-img{
    width:100%;
}

.bg-img img{
    width:100%;
}

.total-statics{
    position:absolute;
    right:100px;
    top:285px;
    color:#fff;
    font-weight: bold;
    font-size:30px;
}

.title_text{
    color: #434343;
    font-family: "Arial Black";
    width: 175px;
    font-size:15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
}

.title_show_times{
    font-size: 12px;
    color: #959494;
}

.column-title{
    margin-top:20px;
    font-size: 18px;
    color: #33485d;

    line-height:31px;
    border-left: 6px solid #33485d;
    padding-left: 10px;
}

.wrap{
    margin:0 auto;
    width:1170px;
}

.clear-float{
    clear:both;
}
.school-name{
    font-size:28px;
}

.header {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: #33485d;
}

.school-title {
    margin-left: 100px;
    height:68px;
    width:700px;
}

.school-title img{
    width:700px;
    height:46px;
}

.nav {
    background: url("/static/imgs/nav_bg.png");
    height: 56px;
    text-align: center;
    padding: 10px;
}

.nav li {
    float: left;
    display: inline-block;
    width: 101px;
    height: 36px;
    border-radius: 10px;
    line-height: 36px;
}

.nav li.active {
    background-color: #2D93CA;
}

.nav li:hover {
    background-color: #2D93CA;

    -moz-transition: all 1s ease 0s; -webkit-transition:all 1s ease 0s; transition:all 1s ease 0s; -o-transition:all 1s ease 0s;
}

.nav  a {
    font-size:1rem;
    color: #fff;
    text-decoration: none;
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.top-search {
    margin: 0 auto;
}

.search_th{
    text-align:center;
}

.btn_search{
    text-align: center;
    margin:0 auto;
}

.login-menu {
    margin-left: 100px;
}

.btn-group label {
    margin: 0 5px;
}

.menu_btn {
    margin: 10px;
}

.media{
    margin-bottom: 5px;
    border:1px #0c5460 solid;
}

.left-menus{
    margin-top:10px;
}

.footer {
    width: 100%;
    height: 80px;
    position: relative;
    left: 0;
    bottom: 0;
    background-color: #33485d;
}

.footer .footer-school-name {
    line-height:40px;
    text-align: center;
    font-size: 16px;
    color: #dee2e6;
}

.footer-address {
    line-height:0;
    text-align: center;
    font-size: 14px;
    color: #dee2e6;
}

/**热门专区**/
.hot{
    margin-top:20px;
    background-color: #F5F5F5;
}

.hot-cat{
    height: 200px;
}

.hot .hot-list{
    text-align:left;
}

.hot-list li{
    height:30px;
    line-height: 30px;
    list-style:none;
}

.hot .hot-list a {
    text-align:left;
    font-size: 14px;
    font-weight: normal;
    color: #434343;
    max-width: 220px;
    height: 30px;
    line-height: 30px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 1s;
}

.hot .hot-cat-title{
    text-align:center;
    width:263px;
    height:52px;
    background-color: #337AB7;
    line-height:52px;
    font-size:20px;
    color:#fff;

}

.hot .hot_title_text{
    font-size: 14px;
    font-weight: normal;
    color: #434343;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**最新推荐**/
.recommend{
    height:410px;
    background-color: #F5F5F5;
}
.recommend-left{
    width:862px;
    float:left;
}

.newest{
    float:right;
    width:278px;
}

.newest .newest-media{
    width:278px;
}

.media-left{
    float:left;
    width:60px;
    height:48px;
}

.media-left .time{
    background: #d5d5d5;
    color:#818181;
    font-style: normal;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    text-align:center;
}

.media-left .year{
    background-color: #0071bf;
    color:#fff;
    text-align:center;
}

.media-body{
    float:right;
    max-width: 218px;
    color: #33485d;
    height: 21px;
}

.media-body .media-heading{
    width:218px;
    height:20px;
    font-size:14px;
    line-height:20px;
    margin-left:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-body .media-heading a{
    color:#33485d;
}

.media-body .media-footer{
    width:218px;
    height:20px;
    font-size:12px;
    color:#959494;
    line-height:20px;
    margin-left:10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recommend .recommend-rec{
    width:180px;
    height:330px;
    float:left;
    margin-right: 25px;
}

.recommend-rec a img{
    width:180px;
    height:200px;
    vertical-align: middle;
}

.newest .recommend-left h3{
    margin-top: 10px;
}

/**明星资源**/
.star-rec{
    float:left;
    width:292.5px;
    height:212px;
}

.star-rec img{
    width:262px;
    height:147px;
    vertical-align: middle;
}

/**排行**/
.pai-hang{
    background: #f5f5f5;
    margin-top: 20px;
}

.table-borderless .table-borderless{
    margin-left:0;
    margin-right: 0;
}

.table-head{
    background-color: #33485d;
    color: #fff;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.table-des-title{
    font-size: 15px;
    font-weight: bold;
}

.table-des2-title{
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

.table-des{
    font-size: 14px;
}

.table-des2{
    font-size: 14px;
    text-align: right;
}


/**明星教师**/
.the-teacher{
    height:300px;
}

.teachers{
    margin-top:20px;
}

.teacher-img{
    width:280px;
    margin:0 auto;
}

.the-teacher-img {
    float:left;
    text-align: center;
    height:60px;
    width:60px;
    margin:10px auto;
}

.teacher-name{
    margin:30px 0 0 10px;
    float:left;
    width:100px;
    font-size: 16px;
    color: #33485d;
    font-weight: bold;
}

.teachers img {
    height:60px;
    width:60px;
    border-radius: 60px;
}

.btn-search{
    float:left;
}

.btn-clear{
    float:right;
}