
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />

    <title>职教魔方|资源库</title>
    <!-- Bootstrap CSS -->
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- font-awesome字体 -->
    <link rel="stylesheet" href="../assets/fonts/Font-Awesome/css/font-awesome.min.css" />
    <!-- main.css -->
    <!-- bootstrap select -->
    <link rel="stylesheet" href="../assets/plugins/bootstrap-select/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script>
        location.href="unsupport.html"
    </script>
    <script src="../assets/js/html5shiv.js"></script>
    <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header></header>
<!-- 内容部分 -->
<!-- banner -->
<div class="banner"><img src="../assets/img/banner1.jpg" alt="">
    <p id="total_res"><span data-template style="display:none;"><span class="hidden-sm">已经有</span> <strong  class="resTotal res-first" >{{num}}</strong> 个资源, 共 <strong  class="resTotal res-second">{{sum}}</strong></span></p>
</div>
<!-- content -->
<div id="wrapper" class="content">
    <div style="background: #f5f5f5;">
        <div class="container">
            <div class="row">
                <!-- 推荐资源 -->
                <div class="col-lg-9 recommond" id="index_recommend">
                    <h2 class="common-h2"><span>推荐资源</span></h2>
                    <dl data-template class="col-xs-6 col-sm-6 col-md-4 col-lg-3 common-dl" style="display:none;">
                        <dt> <a href="{{url}}?id={{_id}}" target="_blank"><img  src="./assets/default.png" data-src="../server/assets/cache/_{{_id}}_0.jpg" /></a> </dt>
                        <dd>
                            <h3 class="text-left"><a  href="{{url}}?id={{_id}}" target="_blank" {% if aliases==null %} title="{{filename}}" {% else %}title="{{aliases}}"{% endif %}>
                                {% if aliases==null %}{{filename | truncate 20}}{% else %}{{aliases | truncate 20}}{% endif %}
                            </a></h3>
                        </dd>
                        <dd> <small >{{metadata.viewCount}}人浏览</small> </dd>
                    </dl>
                </div>
                <!-- 最新上传 -->
                <div class="col-md-4 col-lg-3 new-upload visible-lg" id="index_newest">
                    <h2 class="common-h2"><span>最新上传</span></h2>
                    <div class="new-upcon">

                        <div data-template class="media" style="display:none;">
                            <div class="media-left"> <em>{{uploadDate|date 'MM.DD'}}</em> <strong>2015</strong> </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{url}}?id={{_id}}" target="_blank" {% if aliases==null %} title="{{filename}}" {% else %}title="{{aliases}}"{% endif %}>
                                    {% if aliases==null %}{{filename | truncate 20}}{% else %}{{aliases| truncate 20}}{% endif %}
                                </a></h4>
                                <span title="{{metadata.username}}">上传者：{{metadata.nicename}}</span> <span>格式：{{metadata.category.name}}</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 视频资源 -->
    <div style="background: #ffffff;">
        <div class="container">
            <div class="row video" id="index_video">
                <h2 class="common-h2"><span>视频资源</span></h2>
                <dl data-template class="col-xs-6 col-sm-6 col-md-4 col-lg-3 common-dl" style="display:none;">
                    <dt> <a href="resource_video.html?id={{_id}}" target="_blank"><img  onerror="javascript:this.src='../assets/img/default_one.gif'" src="./assets/default.png" data-src="../server/assets/cache/_{{_id}}_0.jpg" alt="" /></a> </dt>
                    <dd>
                        <h3><a href="resource_video.html?id={{_id}}" target="_blank" {% if aliases==null %} title="{{filename}}" {% else %}title="{{aliases}}"{% endif %}>
                            {% if aliases==null %}{{filename| truncate 20}}{% else %}{{aliases| truncate 20}}{% endif %}
                        </a></h3>
                    </dd>
                    <dd> <small>{{metadata.viewCount}}人浏览</small> </dd>
                </dl>
            </div>
        </div>
    </div>

    <!-- 热门专区 -->
    <div style="background: #f5f5f5;">
        <div class="container">
            <div class="row hot">
                <h2 class="common-h2"><span>热门专区</span></h2>

                <!-- 课件 -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a class="btn btn-primary btn-block common-btn-size" href="type.html"  id='url_class' name='课件'><span class="glyphicon glyphicon-book"></span> 课件</a>
                    <ul class="list-unstyled" id="index_ppt">
                        <li data-template style="display:none;"><a href="{{url}}?id={{_id}}" target="_blank" {% if aliases==null %} title="{{filename}}" {% else %}title="{{aliases}}"{% endif %}>
                            {% if aliases==null %}{{filename| truncate 20}}{% else %}{{aliases| truncate 20}}{% endif %}
                        </a><span class="fa fa-thumbs-o-up"> <strong>
            {% if typeof(metadata.favorCount)=='undefined' %}0{% else %}{{metadata.favorCount}}{% endif %}</strong></span></li>
                    </ul>
                </div>

                <!-- 教案 -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> <a class="btn btn-primary btn-block common-btn-size" href="type.html" id='url_class' name='教案'><span class="glyphicon glyphicon-blackboard"></span> 教案</a>
                    <ul class="list-unstyled" id="index_jiaoan">
                        <li data-template style="display:none;"><a href="{{url}}?id={{_id}}" target="_blank" {% if aliases==null %} title="{{filename}}" {% else %}title="{{aliases}}"{% endif %}>
                            {% if aliases==null %}{{filename| truncate 20}}{% else %}{{aliases| truncate 20}}{% endif %}
                        </a><span class="fa fa-thumbs-o-up"> <strong>
            {% if typeof(metadata.favorCount)=='undefined' %}0{% else %}{{metadata.favorCount}}{% endif %}</strong></span></li>
                    </ul>
                </div>

                <!-- 素材 -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> <a class="btn btn-primary btn-block common-btn-size" href="type.html" id='url_class' name='素材'><span class="glyphicon glyphicon-picture"></span> 素材</a>
                    <ul class="list-unstyled" id="index_exam">
                        <li data-template style="display:none;"><a href="{{url}}?id={{_id}}" target="_blank" {% if aliases==null %} title="{{filename}}" {% else %}title="{{aliases}}"{% endif %}>
                            {% if aliases==null %}{{filename| truncate 20}}{% else %}{{aliases| truncate 20}}{% endif %}
                        </a><span class="fa fa-thumbs-o-up"> <strong>
            {% if typeof(metadata.favorCount)=='undefined' %}0{% else %}{{metadata.favorCount}}{% endif %}</strong></span></li>
                    </ul>
                </div>

                <!-- 习题 -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> <a class="btn btn-primary btn-block common-btn-size" href="type.html" id='url_class' name="习题"><span class="glyphicon glyphicon-list-alt"></span> 习题</a>
                    <ul class="list-unstyled" id="index_test">
                        <li data-template style="display:none;"><a href="{{url}}?id={{_id}}" target="_blank" {% if aliases==null %} title="{{filename}}" {% else %}title="{{aliases}}"{% endif %}>
                            {% if aliases==null %}{{filename| truncate 20}}{% else %}{{aliases| truncate 20}}{% endif %}
                        </a><span class="fa fa-thumbs-o-up"> <strong>
            {% if typeof(metadata.favorCount)=='undefined' %}0{% else %}{{metadata.favorCount}}{% endif %}</strong></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 认证教师 -->
    <div style="background: #ffffff;">
        <div class="container">

            <div class="row auth-teach" id="index_identeacher">
                <h2 class="common-h2"><span>认证教师</span></h2>
                <div data-template class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="display:none;">
                    <div class="media">
                        <div class="media-left"> <!--<a href="information.html?id={{id}}">--> <img class="media-object img-circle" src="../server/assets/cache/avatar/headimg1.png"   data-src="../server/assets/cache/avatar/{{photo}}" onerror="javascript:this.src='../assets/img/headimg1.png'"> <!--</a>-->
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><!--<a href="information.html?id={{id}}">-->{{nicename}}<!--</a>--></h4>
                            <small>{{description}}</small> </div>
                    </div>
                    <ul class="list-unstyled">
                        <li data-template-for="res" style="display:none;"><span><a href="{{url}}?id={{resourceId}}" target="_blank">[{{category.name}}]</a></span><a href="{{url}}?id={{resourceId}}" target="_blank" title="{{title}}">{{title | truncate 20}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 用户排行榜 -->
    <div style="background: #f5f5f5;">
        <div class="container">
            <div class="row rank">
                <div class="col-md-4">
                    <div class="table-bg">
                        <table class="table table-responsive" id="index_person">
                            <caption>
                                用户贡献排行
                            </caption>
                            <thead>
                            <tr>
                                <th>用户名</th>
                                <th>资源贡献数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-template style="display:none;">
                                <td>{{nicename}}</td>
                                <td>{{uploadNum}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table-bg">
                        <table class="table table-responsive" id="index_paihang">
                            <caption>
                                认证教师排行
                            </caption>
                            <thead>
                            <tr>
                                <th>用户名</th>
                                <th>资源贡献数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-template style="display:none;">
                                <td>{{nicename}}</td>
                                <td>{{uploadNum}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table-bg">
                        <table class="table table-responsive" id="sujectres">
                            <caption>
                                专业资源排行
                            </caption>
                            <thead>
                            <tr>
                                <th>专业名</th>
                                <th>资源贡献数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-template style="display:none;">
                                <td><a href="resource_list.html" id='professionals_order' professionals='{{_id.$id}}' name='{{class}}'>{{typename}}</a></td>
                                <td>{{resNum}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- foot -->
<footer data-template-file="footer.html"></footer>
<!-- jQuery -->
<script src="../assets/js/jquery-1.11.3.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="../assets/js/head-foot-common.js"></script>
<script src="../assets/js/tempo.min.js"></script>
<script src="../assets/js/jquery.url.js"></script>
<script src="../assets/plugins/cookie/jquery.cookie.js"></script>
<script src="../assets/js/limited.js"></script>
<script>
    /* 点击课件素材等，跳转*/
    $(document).on("click",'#url_class',function(event){
        event.preventDefault();
        var url_classname=$(this).attr('name');
        var url_href=$(this).attr('href');
        $.cookie('classtag',url_classname);//存classtag的cookie
        /*存knowledge 中的 educations的cookie：*/
        opt= new Object();
        opt.educations='';
        opt.categorys='';
        opt.chapters='';
        opt.classtag=url_classname;
        opt.courses='';
        opt.downloadCount='';
        opt.keyword='';
        opt.points='';
        opt.professionals='';
        opt.sections='';
        opt.sources='';
        opt.subjects='';
        opt.uploadDate='-1';
        opt.view='list';
        cookie_str=JSON.stringify(opt);
        $.cookie('type',cookie_str);
        /*其他cookie*/

        location.href=url_href;
    });

    $(document).ready(function(){

        //获取资源总个数
        $.ajax({
            type:'get',
            url:'../server/api/Resource/getTotalRes',
            dataType:"json",
            cache:false,
            success:function(data){
                var sum_temp = parseInt(data.sum) + 3.27*1024*1024*1024*1024;
                var sum = 0;
                var B = 1024;
                var K = B * 1024;
                var G = K * 1024;
                var T = G * 1024;

                if(sum_temp >= T){
                    sum = (sum_temp / T).toFixed(2);
                    sum += ' TB';
                }else if(sum_temp >= G){
                    sum = (sum_temp / G).toFixed(2);
                    sum += ' GB';
                }else if(sum_temp >= K){
                    sum = (sum_temp / K).toFixed(2);
                    sum += ' MB'
                }else if(sum_temp >= B){
                    sum = (sum_temp / B).toFixed(2);
                    sum += ' KB'
                }else{
                    sum = (sum_temp).toFixed(2);
                    sum += ' B'
                }
                Tempo.prepare("total_res").render([{'num':data.data,'sum':sum}]);
            }
        });//559c9b22afda1c701b000029


        //推荐资源：4个
        $.ajax({
            type:'get',
            url:'../server/api/Resource/act',
            dataType:"json",
            data:{'num':4,'act':1},
            success:function(data){
                Tempo.prepare("index_recommend").render(data.result);
            }
        });

        //最新资源：5个
        $.ajax({
            type:'get',
            url:'../server/api/Resource/act',
            dataType:"json",
            data:{'num':5,'act':2},
            success:function(data){
                Tempo.prepare("index_newest").render(data.result);
            }
        });

        //视频资源：4个
        $.ajax({
            type:'get',
            url:'../server/api/Resource/act',
            dataType:"json",
            data:{'num':4,'act':3},
            success:function(data){
                Tempo.prepare("index_video").render(data.result);
            }
        });

        //热门专区：课件5个
        $.ajax({
            type:'get',
            url:'../server/api/Resource/act',
            dataType:"json",
            data:{'num':5,'classtag':'课件','act':4},
            success:function(data){
                Tempo.prepare("index_ppt").render(data.result);
            }
        });

        //专业排行：5个
        $.ajax({
            type:'get',
            url:'../server/api/Knowledge/majorlist',
            dataType:"json",
            success:function(data){
                console.log(data);
                Tempo.prepare("sujectres").render(data);
            }
        });


        //热门专区：教案5个
        $.ajax({
            type:'get',
            url:'../server/api/Resource/act',
            dataType:"json",
            data:{'num':5,'classtag':'教案','act':4},
            success:function(data){
                Tempo.prepare("index_jiaoan").render(data.result);
            }
        });

        //热门专区：素材5个
        $.ajax({
            type:'get',
            url:'../server/api/Resource/act',
            dataType:"json",
            data:{'num':5,'classtag':'素材','act':4},
            success:function(data){
                Tempo.prepare("index_exam").render(data.result);
            }
        });

        //热门专区：习题5个
        $.ajax({
            type:'get',
            url:'../server/api/Resource/act',
            dataType:"json",
            data:{'num':5,'classtag':'习题','act':4},
            success:function(data){
                Tempo.prepare("index_test").render(data.result);
            }
        });

        //认证教师：4个（暂时按照上传量排行）,每个教师5个上传资源
        $.ajax({
            type:'get',
            url:'../server/api/Users/index',
            dataType:"json",
            data:{'num':4,'num_res':5,'act':1,'action':0,'is_certified':1},
            success:function(data){
                Tempo.prepare("index_identeacher").render(data);
            }
        });

        //认证教师贡献率排行：5个
        $.ajax({
            type:'get',
            url:'../server/api/Users/index',
            dataType:"json",
            data:{'num':5,'act':'2'},
            success:function(data){
                Tempo.prepare("index_paihang").render(data);
            }
        });


        //用户贡献排行
        $.ajax({
            type:'get',
            url:'../server/api/Users/index',
            dataType:"json",
            data:{'num':5,'act':'3'},
            success:function(data){
                console.log(data);
                Tempo.prepare("index_person").render(data);
            }
        });

    });

    /* 专业排行:每个专业 */
    $(document).on("click",'#professionals_order',function(event){
        event.preventDefault();
        educations_value=$(this).attr('name');
        professionals_value=$(this).attr('professionals');
        $.cookie('educations',educations_value);//存educations的cookie
        $.cookie('professionals',professionals_value);//存professionals的cookie
        /*存resource_list 中的cookie：*/
        opt= new Object();
        opt.educations=educations_value;
        opt.professionals=professionals_value;
        opt.categorys='';
        opt.chapters='';
        opt.classtag='';
        opt.courses='';
        opt.downloadCount='';
        opt.keyword='';
        opt.points='';
        opt.sections='';
        opt.sources='';
        opt.subjects='';
        opt.uploadDate='-1';
        opt.view='list';
        cookie_str=JSON.stringify(opt);
        $.cookie('resource_list',cookie_str);
        /*其他cookie*/
        window.location.href="resource_list.html";
    });

</script>
</body>
</html>