{extend name="public:public_index"}
{block name="cur_css"}
<link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
<script src="/static/bootstrap-treeview.js"></script>

<style>
    .resource_title{
        text-align: center;
        background-color: #cccccc;
        margin-left:10px;
    }

    .res-show-media{
        margin-bottom: 200px;
    }

    .panel-body{
        text-align:left;
        width:400px;
        min-height:800px;
        margin-bottom: 120px;
    }

    .title{
       font-size: 25px;
    }

    .footer{
        position:fixed;
        bottom: 0;
        left:0;
    }
</style>
{/block}

{block name="main"}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <div class="col-3">
                {if condition="!empty($has_tree)"}
                <div id="treeview-checkable" class=""></div>
                {else/}
                <ul class="list-group">
                    <li class="list-group-item active">{$subject_name}</li>
                    <li class="list-group-item">{$subject_name}</li>
                </ul>
                {/if}
            </div>
            <div class="col-9">
                <div class="index-page-location">
                    首页 > <a href="/subject_index?subject_id={$subject_id}">{$subject_name}</a> > {$resource->title}
                </div>

                {include file="../application/index/view/public/pdf_show.html"}

            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
{/block}

{block name="cur_js"}
<script>
    plyr.setup();

    var media_width=$('.resource_title').width();
    $(function() {
        $('a.media').media({width:media_width, height:media_width});
        $('a.mediase').media({width:800, height:800});
    });

    var defaultData= <?php echo $tree;?>;
    var $checkableTree = $('#treeview-checkable').treeview({
        data: defaultData,
        showIcon: true,
        showCheckbox: false,
        onNodeSelected: function(event, node) {
            var href_url=node.href;

            if(href_url){
                ('#iframe_pdf').attr("src",href_url);
                // window.location.href=href_url;
            }
        },
        onNodeUnchecked: function (event, node) {
            var index=cats_arr.indexOf(node.id);
            if (index > -1) {
                cats_arr.splice(index, 1);
            }
        }
    });
</script>
{/block}