<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>呼和浩特市第三职业中等专业学校</title>
    <link rel="stylesheet" href="/static/bootstrap4.2/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/plyr.css">
    <link rel="stylesheet" href="/static/lrtk.css">
    <script src="/static/jQuery331.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script src="/static/dialog.js"></script>
    <script src="/static/bootstrap4.2/js/bootstrap.js"></script>
    <script src="/static/myslideup.js"></script>
    <script src="/static/myslideup2.js"></script>
    <script src="/static/plyr.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/responsiveslides.min.js"></script>
    <script src="/static/slide.js"></script>

    <script>
        $(function () {
            $(".line").slideUp();
            $(".line2").slideUp();
        })
    </script>
</head>
<body>
<div class="container">
    <div class="banner">
        <div class="slide_container">
            <ul class="rslides" id="slider">
                <li>
                    <img src="/index_rec/top1.jpg" alt="">
                </li>
                <li>
                    <img src="/index_rec/top2.jpg" alt="">
                </li>
                <li>
                    <img src="/index_rec/top3.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>

    <!--导航部分-->
    <div class="nav">
        <div class="wrap">
            <ul>
                <li>
                    <a href="/">首页</a>
                </li>
                {if condition="!empty($subject)"}
                {volist name="subject" id="vo"}
                <li>
                    <a href="/subject_index?subject_id={$vo['id']}">{$vo['name']}</a>
                </li>
                {/volist}
                {/if}

                <li>
                    <a href="/resource_index">资源库</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="clear-float"></div>

    <div class="top-news">
        <div class="row">
            <div class="col-3">
                <div class="news-img">
                    <div class="media">
                        <img class="mr-3" src="/static/imgs/loudspeaker.png">
                        <div class="media-body news-img-title">
                            <h5>建设动态</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="news-left">
                    <ul class="line">
                        {volist name="dong_tai_info" id="vo"}
                        <li>
                            <div>
                            <a href="/index_resource_show&id={$vo[0]['id']}&subject_id={$js_subject_id}">
                            <span class="lb-news-title">{$vo[0]['title']}<span></a>

                                <a href="/index_resource_show&id={$vo[1]['id']}&subject_id={$js_subject_id}">
                                    <span class="lb-news-title">{$vo[1]['title']}<span></a>
                            </div>
                        </li>
                        {/volist}

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clear-float"></div>

    <!--新闻分类，文字新闻-->
    <div class="column-news">
        <div class="zheng-ce">
            <h5>政策指导</h5>
            <ul>
                {volist name="zheng_ce_info" id="vo"}
                <li>
                    <a class="title_text" href="/index_resource_show&id={$vo->id}&subject_id={$zc_subject_id}">
                        <span> ></span>{$vo->title}
                    </a>
                </li>
                {/volist}
            </ul>
            <button class="more" style="background-color:#41b3e5;">查看更多</button>
        </div>
        <div class="zong-jie">
            <h5>总结报告</h5>
            <ul>
                {volist name="zong_jie_info" id="vo"}
                <li><a class="title_text" href="/index_resource_show&id={$vo->id}&subject_id={$zj_subject_id}">
                    <span> ></span> {$vo->title}
                </a>
                </li>
                {/volist}
            </ul>
            <button class="more" style="background-color: #0484cf;">查看更多</button>
        </div>
        <div class="dian-xing">
            <h5>典型案例</h5>
            <ul>
                {volist name="dian_xing_info" id="vo"}
                <li><a class="title_text" href="/index_resource_show&id={$vo->id}&subject_id={$dx_subject_id}">
                    <span> ></span>{$vo->title}
                </a>
                </li>
                {/volist}
            </ul>
            <button class="more" style="background-color:#3156a4;">查看更多</button>
        </div>
    </div>

    <div class="clear-float"></div>

    <div class="column-js">
        <div class="wrap">
            <div class="js-main">
                <h3 class="jian_she_title">建设成果</h3>
                <img class="js-img" src="/static/imgs/column.jpg">
                <div class="js-info">
                    <ul>
                        <li>
                            <h3>01</h3>
                            <div class="li-con">
                                {volist name="jian_she_info" id="vo"}
                                <a href="/index_resource_show&id={$vo->id}&subject_id={$js_subject_id}">
                                    <h4>{$vo->title}</h4>
                                </a>
                                {/volist}
                            </div>
                        </li>
                        <li>
                            <h3>02</h3>
                            <div class="li-con">
                                {volist name="jian_she_info2" id="vo"}
                                <a href="/index_resource_show&id={$vo->id}&subject_id={$js_subject_id}">
                                    <h4>{$vo->title}</h4>
                                </a>
                                {/volist}
                            </div>
                        </li>
                        <div class="clear-float"></div>
                    </ul>
                </div>
            </div>
            <div class="js-media">
                <div class="m">
                    <video poster="vs.png" controls>
                        <source src="/index_rec/home.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="clear-float"></div>

    <div class="column-fixed">
        <h3 class="tui_jian_title">推荐资源</h3>
        <div class="row">
            {volist name="tui_jian_resource" id="vo"}
            <div class="col-md-3">
                <a href="/index_resource_show?id={$vo->id}&subject_id={$vo->subject}">
                    <img src="{$vo->thumbnail}">
                </a>
                <p class="source_title">{$vo->title}</p>
            </div>
            {/volist}
        </div>
    </div>

    <!--新闻分类，轮播模式的-->
    <div class="column-lb">
        <h3 class="column-lb-title">校园风采</h3>
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="2000">
                    <div class="row">
                        <div class="col">
                            <img src="/index_rec/btm1.png" class="d-block w-100">
                        </div>
                        <div class="col">
                            <img src="/index_rec/btm2.png" class="d-block w-100"
                            >
                        </div>
                        <div class="col">
                            <img src="/index_rec/btm3.png" class="d-block w-100"
                                 >
                        </div>
                        <div class="col">
                            <img src="/index_rec/btm4.png" class="d-block w-100"
                                >
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="2000">
                    <div class="row">
                        <div class="col">
                            <img src="/index_rec/btm5.png" class="d-block w-100"
                                 >
                        </div>
                        <div class="col">
                            <img src="/index_rec/btm6.png" class="d-block w-100"
                                 >
                        </div>
                        <div class="col">
                            <img src="/index_rec/btm7.png" class="d-block w-100"
                                 >
                        </div>
                        <div class="col">
                            <img src="/index_rec/btm8.png" class="d-block w-100"
                                 >
                        </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    {include file="../application/index/view/public/footer.html"}
</div>

<script>
    plyr.setup();
</script>

</body>
</html>