{extend name="public:public"}
{block name="cur_css"}
<style>
    .list-unstyled img{
        width:240px;
        height:130px;
    }

    .media{
        margin-bottom: 5px;
        border:1px #0c5460 solid;
    }

    .statics_info{
        margin-left: 10px;
        margin-bottom: 10px;
    }
</style>
{/block}

{block name="main"}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <input type="hidden" id="jump_url" value="/resource_category">
{include file="../application/index/view/public/search_form.html"}

        <div>
            <ul class="list-unstyled">
                {if condition="!empty($list)"}
                {volist name="list" id="vo"}
                <li class="media">
                    <img class="mr-3" src="{$vo.thumbnail}">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{$vo.title}</h5>
                        <h6 class="mt-0 mb-1"><span>创建时间：</span>{$vo.create_at}</h6>
                        {$vo.introduction}
                    </div>
                    <div class="statics_info">
                        <h6>下载量： <span class="badge badge-secondary">100</span></h6>
                        <h6>阅读量： <span class="badge badge-secondary">100</span></h6>
                    </div>
                </li>
                {/volist}

                {$list->render()}

                {else/}
                暂无数据
                {/if}
            </ul>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>

{/block}

{block name="cur_js"}
{/block}
