{extend name="public:public"}

{block name="cur_css"}
{/block}

{block name="main"}
<div class="row">
    <div class="col bg-img">
        <img src="/static/imgs/banner1.jpg">
    </div>
</div>

<!--<div class="total-statics">-->
<!--<span class="total-statics-text">资源数数：100</span>-->
<!--<span class="total-statics-text">资源总大小：100G</span>-->
<!--</div>-->
<div class="wrap">
    <!--推荐资源-->
    <div class="recommend">
        <div class="recommend-left">
            <div><h3 class="column-title">最新推荐</h3></div>
            {volist name="recomend_resource_info" id="vo"}
            <div class="recommend-rec">
                <a href="/zyk_resource_show?id={$vo->id}">
                    <img src="{$vo->thumbnail}">
                </a>
                <p class="title_text">{$vo->title}</p>
            </div>
            {/volist}
        </div>

        <div class="newest">
            <div><h3 class="column-title">最新上传</h3></div>
            <div class="newest-rec">
                <ul class="list-group">
                    {volist name="new_resource_info" id="vo"}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="/zyk_resource_show?id={$vo->id}" class="title_text"> {$vo->title}</a>
                        <span class="badge badge-primary badge-pill">{php}echo substr($vo->create_at,0,11){/php}</span>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
    <div class="clear-float"></div>

    <!--明星资源-->
    <div class="star-resource">
        <div><h3 class="column-title">明星资源</h3></div>
        {volist name="start_resource_info" id="vo"}
        <div class="star-rec">
            <div>
                <a href="/zyk_resource_show?id={$vo->id}">
                    <img src="{$vo->thumbnail}">
                </a>
                <p class="title_text">{$vo->title}</p>
            </div>
        </div>
        {/volist}
    </div>
    <div class="clear-float"></div>

    <!--热门专区-->
    <div class="hot">
        <div><h3 class="column-title">热门专区</h3></div>
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item cat_name active">{$cat_one_name}</li>
                    {volist name="cat_one" id="vo"}
                    <li class="list-group-item"><a href="/zyk_resource_show?id={$vo->id}"
                                                   class="hot_title_text">{$vo->title}</a>
                    </li>
                    {/volist}
                </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item active">{$cat_two_name}</li>
                    {volist name="cat_two" id="vo"}
                    <li class="list-group-item"><a href="/zyk_resource_show?id={$vo->id}"
                                                   class="hot_title_text">{$vo->title}</a>
                    </li>
                    {/volist}
                </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item active">{$cat_three_name}</li>
                    {volist name="cat_three" id="vo"}
                    <li class="list-group-item"><a href="/zyk_resource_show?id={$vo->id}"
                                                   class="hot_title_text">{$vo->title}</a>
                    </li>
                    {/volist}
                </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item active">{$cat_four_name}</li>
                    {volist name="cat_four" id="vo"}
                    <li class="list-group-item"><a href="/zyk_resource_show?id={$vo->id}"
                                                   class="hot_title_text">{$vo->title}</a>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>

    <div class="teachers">
        <div class="row">
            <div><h3 class="column-title">明星教师</h3></div>
            <div class="row">
                {volist name="top_four_teacher" id="vo"}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="teacher-img">
                        <img class="card-img-top" src="{$vo->head_portrait}" alt="{$vo->name}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">姓名：{$vo->name}</h5>
                            <h5 class="card-title">邮箱：{$vo->email}</h5>
                            <p class="card-text title_text">教师介绍：{$vo->introduction}</p>
                            <a href="/teacher_res_list?user_id={$vo->id}" target="_blank"
                               class="btn btn-primary">教师资源</a>
                        </div>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
    <div class="clear-float"></div>


    <!--排行-->
    <div class="pai-hang" >
        <div class="row ">
            <div class="col-4">
                <table class="table table-sm table-borderless">
                    <thead class="table-head">
                    <tr>
                        <th scope="col" colspan="2">教师上传排行</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-des-title">姓名</td>
                        <td class="table-des2-title">上传资源数</td>
                    </tr>
                    {volist name="counter_users" id="vo"}
                    <tr>
                        <td class="table-des">{$vo['name']}</td>
                        <td class="table-des2">{$vo['count']}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>


            </div>
            <div class="col-4">
                <table class="table table-sm table-borderless">
                    <thead class="table-head">
                    <tr>
                        <th scope="col" colspan="2">专业上传排行</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-des-title">专业</td>
                        <td class="table-des2-title">资源总量</td>
                    </tr>
                    {volist name="counter_category" id="vo"}
                    <tr>
                        <td class="table-des">{$vo['name']}</td>
                        <td class="table-des2">{$vo['count']}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>


            </div>
            <div class="col-4">
                <table class="table table-sm table-borderless">
                    <thead class="table-head">
                    <tr>
                        <th scope="col" colspan="2">专题上传排行</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-des-title">专题</td>
                        <td class="table-des2-title">资源总量</td>
                    </tr>
                    {volist name="counter_subject" id="vo"}
                    <tr>
                        <td class="table-des">{$vo['name']}</td>
                        <td class="table-des2">{$vo['count']}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
<div class="clear-float"></div>

{/block}

{block name="cur_js"}

{/block}