<?php
 include "app/index/model/Users";
 use app\index\model\Users;
?>
{extend name="public:public"}

{block name="cur_css"}
{/block}

{block name="main"}
    <div class="bg-img">
        <img src="/index_rec/resource_index.jpg">

        <div class="total-statics">
            <span class="total-statics-text">资源数数：{$total_resource_count}</span>
            <br>
            <span class="total-statics-text">资源总大小：{$total_resource_size}G</span>
        </div>
    </div>
<div class="wrap">
    <!--推荐资源-->
    <div class="recommend">
        <div class="recommend-left">
            <div><h3 class="column-title">最新推荐</h3></div>
            {volist name="recomend_resource_info" id="vo"}
            <div class="recommend-rec">
                <a href="/zyk_resource_show?id={$vo->id}">
                    <img src="{$vo->thumbnail}">
                </a>
                <p class="title_text">{$vo->title}</p>
                <p class="title_show_times">{$vo->show_times}人浏览</p>
            </div>
            {/volist}
        </div>

        <div class="newest">
            <div><h3 class="column-title">最新上传</h3></div>
            {volist name="new_resource_info" id="vo"}
            <div class="newest-media">
                <div class="media-left">
                    <div class="time">{php}echo substr($vo->create_at,5,5){/php}</div>
                    <div class="year">{php}echo substr($vo->create_at,0,4){/php}</div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="/zyk_resource_show?id={$vo->id}" target="_blank">
                        {$vo->title}
                        </a>
                    </h4>
                    <div class="media-footer">上传者:{$vo->user_id|get_user_name}  &nbsp&nbsp 格式:{$vo->type|res_type_str}</div>
                </div>
            </div>
            <div class="clear-float"></div>
            <div style="height: 10px;width:200px;"></div>
            {/volist}

        </div>
    </div>
    <div class="clear-float"></div>

    <!--明星资源-->
    <div class="star-resource">
        <div><h3 class="column-title">明星资源</h3></div>
        {volist name="start_resource_info" id="vo"}
        <div class="star-rec">
            <div>
                <a href="/zyk_resource_show?id={$vo->id}">
                    <img src="{$vo->thumbnail}">
                </a>
                <p class="title_text">{$vo->title}</p>
                <p class="title_show_times">{$vo->show_times}人浏览</p>
            </div>
        </div>
        {/volist}
    </div>
    <div class="clear-float"></div>

    <!--热门专区-->
    <div class="hot">
        <div><h3 class="column-title">热门专区</h3></div>
        <div class="row">
            <div class="col">
                <div class="hot-cat">
                    <div class="hot-cat-title">{$cat_one_name}</div>
                    <ul class="list-unstyled">
                        {volist name="cat_one" id="vo"}
                        <li >
                            <a href="/zyk_resource_show?id={$vo->id}">
                            {$vo->title}
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="hot-cat">
                    <div class="hot-cat-title">{$cat_two_name}</div>
                    <ul class="list-unstyled">
                        {volist name="cat_two" id="vo"}
                        <li >
                            <a href="/zyk_resource_show?id={$vo->id}">
                                {$vo->title}
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="hot-cat">
                    <div class="hot-cat-title">{$cat_three_name}</div>
                    <ul class="list-unstyled">
                        {volist name="cat_three" id="vo"}
                        <li >
                            <a href="/zyk_resource_show?id={$vo->id}">
                                {$vo->title}
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="hot-cat">
                    <div class="hot-cat-title">{$cat_four_name}</div>
                    <ul class="list-unstyled">
                        {volist name="cat_four" id="vo"}
                        <li >
                            <a href="/zyk_resource_show?id={$vo->id}">
                                {$vo->title}
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear-float"></div>

    <div class="teachers">
        <div class="row">
            <div><h3 class="column-title">明星教师</h3></div>
            <div class="row">
                {volist name="top_four_teacher" id="vo"}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="teacher-img">
                                <div class="the-teacher-img">
                                <img src="{$vo->head_portrait}" alt="{$vo->name}">
                                </div>
                                <div class="teacher-name">
                                    <h5 >{$vo->name}</h5>
                                </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">邮箱：{$vo->email}</h5>
                            <p class="card-text title_text">教师介绍：{$vo->introduction}</p>
                            <a href="/teacher_res_list?user_id={$vo->id}" target="_blank"
                               class="btn btn-primary">教师资源</a>
                        </div>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
    <div class="clear-float"></div>


    <!--排行-->
    <div class="pai-hang" >
        <div class="row ">
            <div class="col-4">
                <table class="table table-sm table-borderless">
                    <thead class="table-head">
                    <tr>
                        <th scope="col" colspan="2">教师上传排行</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-des-title">姓名</td>
                        <td class="table-des2-title">上传资源数</td>
                    </tr>
                    {volist name="counter_users" id="vo"}
                    <tr>
                        <td class="table-des">{$vo['name']}</td>
                        <td class="table-des2">{$vo['count']}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>


            </div>
            <div class="col-4">
                <table class="table table-sm table-borderless">
                    <thead class="table-head">
                    <tr>
                        <th scope="col" colspan="2">专业上传排行</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-des-title">专业</td>
                        <td class="table-des2-title">资源总量</td>
                    </tr>
                    {volist name="counter_category" id="vo"}
                    <tr>
                        <td class="table-des">{$vo['name']}</td>
                        <td class="table-des2">{$vo['count']}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>


            </div>
            <div class="col-4">
                <table class="table table-sm table-borderless">
                    <thead class="table-head">
                    <tr>
                        <th scope="col" colspan="2">专题上传排行</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-des-title">专题</td>
                        <td class="table-des2-title">资源总量</td>
                    </tr>
                    {volist name="counter_subject" id="vo"}
                    <tr>
                        <td class="table-des">{$vo['name']}</td>
                        <td class="table-des2">{$vo['count']}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
<div class="clear-float"></div>

{/block}

{block name="cur_js"}

{/block}