{extend name="public:public"}

{block name="cur_css"}
<link rel="stylesheet" href="/static/css/resource_index.css">
<script>
    var media_width=$('.resource_title').width;
    $(function() {
        $('a.media').media({width:media_width, height:800});
        $('a.mediase').media({width:800, height:800});
    });
</script>
<style>

    .the-teacher{
        margin-top:10px;
    }

    .teacher_resource_list{
      margin-top:10px;
    }

    .list-unstyled .mr-3{
        width:200px;
        height:200px;
    }

    .list-unstyled img{
        width:200px;
        height:200px;
    }

    .the-teacher img{
        height:200px;
        width:280px;
    }

    .card img{
        height:200px;
        width:280px;
    }

    .footer{
        position:fixed;
        bottom:0;
        left:0;
    }
</style>
{/block}

{block name="main"}
<div class="row" style="margin-bottom: 120px;">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <div class="col-9 teacher_resource_list">
                <div>
                    <ul class="list-unstyled">
                        {if condition="!empty($list)"}
                        {volist name="list" id="vo"}
                        <li class="media">
                            <a href="/zyk_resource_show?id={$vo->id}">
                            <img class="mr-3" src="{$vo.thumbnail}">
                            </a>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="/zyk_resource_show?id={$vo->id}" class="title_text">{$vo.title}</a></h5>
                                <h6 class="mt-0 mb-1"><span>创建时间：</span>{$vo.create_at}</h6>
                                {$vo.introduction}
                            </div>
                            <div class="statics_info">
                                <!--<h6>下载量： <span class="badge badge-secondary">100</span></h6>-->
                                <!--<h6>阅读量： <span class="badge badge-secondary">100</span></h6>-->
                            </div>
                        </li>
                        {/volist}

                            {$page}


                        {else/}
                        <p>暂无数据</p>
                        {/if}
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="the-teacher">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{$user->head_portrait}" alt="{$user->name}">
                        <div class="card-body">
                            <h5 class="card-title">姓名：{$user->name}</h5>
                            <h5 class="card-title">邮箱：{$user->email}</h5>
                            <p class="card-text title_text">教师介绍：{$user->introduction}</p>
                            <a href="/teacher_res_list?user_id={$user->id}" target="_blank"
                               class="btn btn-primary">教师资源</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
{/block}

{block name="cur_js"}

{/block}