{extend name="public:public"}

{block name="cur_css"}
<link rel="stylesheet" href="/static/css/resource_index.css">
<script>
    $(function() {
        $('a.media').media({width:1150, height:800});
        $('a.mediase').media({width:800, height:800});
    });
</script>
<style>
    .resource_title{
        text-align: center;
        border-bottom: 10px;
        background-color: #cccccc;
    }

    .title{
        font-size: 25px;
    }
</style>
{/block}

{block name="main"}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
        <div class="col-md-9">
            <div class="resource_title">
                <h5 class="title">{$resource->title}<h5>
                        <span>上传时间：{$resource->create_at}<span>
            </div>
            <div class="panel-body">
                <a class="media" href="{$resource->src}"></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="the-teacher">
                <div class="card" style="width: 18rem;">
                    <div class="teacher-main">
                        <div class="teacher-img">
                            <img class="card-img-top" src="{$user->head_portrait}">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5>{$user->name}</h5>
                        <h5 class="card-title">{$user->email}</h5>
                        <p class="card-text">{$user->introduction}</p>
                        <a href="#" class="btn btn-primary">教师资源</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
{/block}

{block name="cur_js"}

{/block}