{extend name="public:public_admin"}

{block name="cur_css"}
<link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
<script src="http://www.jq22.com/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/bootstrap-treeview.js"></script>
<style>
    .footer{
        position:fixed;
        bottom:0;
        left:0;

    }
</style>
{/block}

{block name="right-content"}
<form id="form_add_resource_cat" class="form-add-category">
    <div class="form-group">
        <div class="form-group">
            <input name="name" id="name" placeholder="输入目录名称">
        </div>
        <label>资源主题</label>
        <select class="form-control" name="subject_id">
            <option value="0">请选择</option>
            {if condition ="!empty($subjects)"}
            {volist name="subjects" id = "vo"}
            <option value="{$vo['id']}">{$vo['name']}</option>
            {/volist}
            {/if}
        </select>
    </div>
    {if condition="!empty($tree)"}
    <div class="form-group">
        <label>请选择目录</label>
        <div id="treeview-checkable" class=""></div>
    </div>
    {/if}
    <div class="form-group">
        <label>排序</label>
        <input type="text" name="sort" placeholder="数字越大，排名越前面" value="1">
    </div>
    <button type="button" id="add_cat" class="btn btn-primary">添加</button>
</form>
{/block}

{block name="cur_js"}
    <script>
        var cats_arr=new Array();
        var defaultData= <?php echo $tree;?>;
        var $checkableTree = $('#treeview-checkable').treeview({
            data: defaultData,
            showIcon: false,
            showCheckbox: true,
            onNodeChecked: function(event, node) {
                cats_arr.push(node.id);
            },
            onNodeUnchecked: function (event, node) {
                var index=cats_arr.indexOf(node.id);
                if (index > -1) {
                    array.splice(index, 1);
                }
            }
        });

        // 点击添加
        $('#add_cat').click(function(){
            alert('xxx');
            return false;
            var post_data=$('#form_add_resource_cat').serializeArray();
            post_data['cat_ids']=cats_arr.toString();

            $.post(
                '/add_resource_cat',
                post_data,
                function(data){
                    if(100==data.code){
                        dialog.successTo('show_resource_cat');
                    }else{
                        dialog.showError(data.msg);
                    }
                }
            );
        });
    </script>
{/block}