{extend name="public:public"}

{block name="cur_css"}
<style rel="stylesheet" href="/static/css/show_add_resource.css"></style>
{/block}

{block name="main"}

<div class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            菜单列表
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">标题</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">类型</label>
                            <select class="form-control" name="sex" id="exampleFormControlSelect1">
                                <option>图片</option>
                                <option>视频</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    一级分类
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                </div>

                                <select class="form-control" name="sex" id="">
                                    <option>图片</option>
                                    <option>视频</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="file" name="head_portrait" class="form-control-file" id="head_portrait">
                            <button type="button" id="upd_head_portrait" class="btn btn-success">缩略图</button>
                        </div>

                        <div class="form-group">
                            <input type="file" name="head_portrait" class="form-control-file" id="">
                            <button type="button" id="upd_" class="btn btn-success">上传资料</button>
                        </div>
                        <button type="submit" class="btn btn-primary">上传</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{/block}

{block name="cur_js"}

{/block}