{extend name="public:public_admin"}
{block name="cur_css"}
<style>
    .list-unstyled img{
        width:240px;
        height:130px;
    }

    .media{
        margin-bottom: 5px;
        border:1px #0c5460 solid;
    }

    .resource_title{
        text-align: center;
        border-bottom: 10px;
        background-color: #cccccc;
    }

    .footer{
        position:fixed;
        bottom:0;
        left:0;
    }

    .panel-body{
        margin-bottom: 100px;
    }
</style>
{/block}

{block name="right-content"}

{include file="../application/index/view/public/pdf_show.html"}

{/block}

{block name="cur_js"}

{/block}