{extend name="public:public_admin"}
{block name="cur_css"}
<style>
    .list-unstyled img{
        width:240px;
        height:130px;
    }

    .media{
        margin-bottom: 5px;
        border:1px #0c5460 solid;
    }
</style>
{/block}

{block name="right-content"}

{include file="../application/index/view/public/search_form.html"}

<div>
<ul class="list-unstyled">
    {if condition="!empty($list)"}
        {volist name="list" id="vo"}
    <li class="media">
        <a href="/show_user_resource_detail?id={$vo.id}">
        <img class="mr-3" src="{$vo.thumbnail}">
        </a>
        <div class="media-body">
            <h5 class="mt-0 mb-1">{$vo.title}</h5>
            <h6 class="mt-0 mb-1"><span>创建时间：</span>{$vo.create_at}</h6>
            {$vo.introduction}
        </div>
        <div>
            <div>
                <button type="button" class="btn btn-danger" id="delete_res" value="{$vo.id}">删除</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary" id="status_res" value="{$vo.id}">禁用</button>
            </div>
        </div>
    </li>
        {/volist}

    {$list->render()}

    {else/}
    暂无数据
    {/if}
</ul>
</div>
{/block}

{block name="cur_js"}
<script>
    // 删除文章
    $('#delete_res').click(function(){
        $.post(
            '/delete_resource',
            {'resource_id':$(this).val()},
            function(data){
                if(100==data.code){
                    dialog.successTo(data.msg,'/user_resource_list');
                }else{
                    dialog.showError(data.msg);
                }
            }
        );
    });

    // 禁用文章
    $('#delete_res').click(function(){
        $.post(
            '/status_resource',
            {'resource_id':$(this).val()},
            function(data){
                if(100==data.code){
                    dialog.successTo(data.msg,'/user_resource_list');
                }else{
                    dialog.showError(data.msg);
                }
            }
        );
    });

</script>

{/block}