{extend name="public:public_admin"}

{block name="cur_css"}
<style>
    .form-add-category{
        height:1100px;
    }
</style>
{/block}

{block name="right-content"}

<form id="form_add_category" class="form-add-category">
    <div class="form-group">
        <label>分类名称</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">所属分类</label>
        <select class="form-control" name="parent_id" id="exampleFormControlSelect1">
            <option value="0">作为一级分类</option>
            {if condition ="!empty($first_categories)"}
            {volist name="first_categories" id = "vo"}
            <option value="{$vo->id}">{$vo['name']}</option>
            {/volist}
            {/if}
        </select>
    </div>
    <div class="form-group">
        <label>排序</label>
        <input type="text" name="sort" placeholder="数字越大，排名越前面" value="1">
    </div>
    <button type="button" id="add_categories" class="btn btn-primary">添加</button>
</form>
{/block}

{block name="cur_js"}
<script>
    $("#add_categories").click(function () {
        var post_data = $('#form_add_category').serializeArray();

        $.post(
            '/add_category',
            post_data,
            function (data) {
                if (100 == data.code) {
                    dialog.successAuto(data.msg, '/category_list');
                } else {
                    dialog.showError(data.msg);
                }
            }
        );
    });
</script>
{/block}