<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap4.2/css/bootstrap.css">
    <script src="/static/jQuery331.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script src="/static/dialog.js"></script>
    <script src="/static/bootstrap4.2/js/bootstrap.js"></script>
    <title>注册</title>

    <style>
        *{
            margin:0;
            padding:0;
        }

        .registerForm {
            width: 100%;
            max-width: 500px;
            padding: 15px;
            margin: 50px auto;
        }

    </style>
</head>
<body class="container">

<form class="registerForm" id="register_form">
    <h1 class="h3 mb-3 font-weight-normal"> 注册</h1>
    <div class="form-row">
        <div class="form-group col-md-5">
            <input type="text" class="form-control" id="name" name="name" placeholder="请输入用户名">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <input type="password" class="form-control" id="re_password" name="re_password" placeholder="确认密码">
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="register">确定</button>
</form>


<script>
    $("#register").click(function () {
        var post_data = $('#register_form').serializeArray();
        $.post(
            '/index/admin/register',
            post_data,
            function (data) {
                if (data.code == 100) {
                    dialog.showError(data.msg);
                } else {
                    dialog.showError(data.msg);
                }
            }
        );
    });
</script>
</body>
</html>