{extend name="public:public_admin"}

{block name="cur_css"}
    <style>
        .content label{
            font-size: 20px;
        }
        .footer{
            position:fixed;
            bottom: 0;
            left:0;
        }
    </style>
{/block}

{block name="right-content"}
<form enctype="multipart/form-data">
    <div class="head_portrait">
        <img src="{$user->head_portrait}">
    </div>
    <input type="file" name="head_portrait" class="form-control-file" id="head_portrait">
    <br>
    <button type="button" id="upd_head_portrait" class="btn btn-success">上传头像</button>
</form>

<form class="user_info" id="user_info">
    <div class="form-group">
        <label>用户名</label>
        <input type="email" class="form-control" id="user_name" name="name"
               aria-describedby="emailHelp"
               placeholder="请输入用户名" value="{$user->name}">
        <small id="name" class="form-text text-muted">用户名不可以与其他用户相同
        </small>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label for="exampleFormControlSelect1">性别</label>
            <select class="form-control" name="sex" id="exampleFormControlSelect1">
                <option {if condition="1==$user->sex" } selected{
                /if} value="1">男</option>
                <option {if condition="2==$user->sex" } selected{
                /if} value="2">女</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">邮箱</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1"
               aria-describedby="emailHelp" placeholder="输入邮箱" value="{$user->email}">
        <small id="emailHelp" class="form-text text-muted">
            邮箱地址不可以与其他用户重复
        </small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">密码</label>
        <input type="text" class="form-control" name="password" id="exampleInputPassword1"
               placeholder="请输入密码" value="<?php echo think_decrypt($user->password); ?>">
        <small id="password" class="form-text text-muted">
            可在这里重新设置密码
        </small>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">个人简介</span>
            </div>
            <textarea class="form-control" name="introduction"
                      aria-label="With textarea">{$user->introduction}</textarea>
        </div>
    </div>
    <input type="hidden" id="user_id" name="id" value="{$user->id}">
    <button type="button" id="eidt_user" class="btn btn-primary">提交</button>
</form>
{/block}

{block name="cur_js"}

{/block}