<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>{block name="title"}标题{/block}</title>
    <link rel="stylesheet" href="/static/bootstrap4.2/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/public.css">
    {block name="cur_css"}{/block}
    <script src="/static/jQuery331.js"></script>
    <script src="/static/popper.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script src="/static/dialog.js"></script>
    <script src="/static/bootstrap4.2/js/bootstrap.js"></script>
</head>
<body class="container">
<!--头部导航-->
{include file="../application/index/view/public/public_top.html"}

{block name="main"}
主要部分
{/block}

<div class="footer">
    <div class="row">
        <div class="col" style="width:100%;height:50px;background-color: #1d2124"></div>
    </div>
</div>

{block name="cur_js"}{/block}
</body>
</html>