<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>{block name="title"}呼和浩特市第三职业中等专业学校{/block}</title>
    <link rel="stylesheet" href="/static/bootstrap4.2/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/public.css">
    {block name="cur_css"}{/block}
    <script src="/static/jQuery331.js"></script>
    <script src="/static/popper.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script src="/static/dialog.js"></script>
    <script src="/static/bootstrap4.2/js/bootstrap.js"></script>
    <script src="/static/jquery.media.js"></script>
</head>
<body class="container">
<!--头部导航-->
{include file="../application/index/view/public/public_top.html"}

{block name="main"}
主要部分
{/block}

{include file="../application/index/view/public/footer.html"}
{block name="cur_js"}{/block}
</body>
</html>