<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>呼和浩特市第三职业中等专业学校</title>
    <link rel="stylesheet" href="/static/bootstrap4.2/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/plyr.css">
    <link rel="stylesheet" href="/static/lrtk.css">
    <script src="/static/jQuery331.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script src="/static/dialog.js"></script>
    <script src="/static/bootstrap4.2/js/bootstrap.js"></script>
    <script src="/static/jquery.media.js"></script>
    <script src="/static/plyr.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/responsiveslides.min.js"></script>
    <script src="/static/slide.js"></script>
    {block name="cur_css"}
       <style>
           .footer{
               position:fixed;
               bottom:0;
               left:0;
           }
       </style>
    {/block}
</head>
<body>
<div class="container">
    <div class="banner">
    <div class="slide_container">
        <ul class="rslides" id="slider">
            <li>
                <img src="/index_rec/top1.jpg" alt="">
            </li>
            <li>
                <img src="/index_rec/top2.jpg" alt="">
            </li>
            <li>
                <img src="/index_rec/top3.jpg" alt="">
            </li>
        </ul>
    </div>
    </div>

    <!--导航部分-->
    <div class="nav">
        <div class="wrap">
            <ul>
                <li>
                    <a href="/">首页</a>
                </li>
                {if condition="!empty($subject)"}
                {volist name="subject" id="vo"}
                <li {if condition="$subject_id==$vo['id']" }class="active" {/if}>
                    <a href="/subject_index?subject_id={$vo['id']}">{$vo['name']}</a>
                </li>
                {/volist}
                {/if}

                <li>
                    <a href="/resource_index">资源库</a>
                </li>
            </ul>
        </div>
    </div>

    {block name="main"}

    {/block}

    {include file="../application/index/view/public/footer.html"}

</div>
    {block name="cur_js"}

    {/block}
</body>
</html>