<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>呼和浩特市第三职业中等专业学校</title>
    <!--<link rel="stylesheet" href="/static/bootstrap4.2/css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="/static/css/index.css">-->
    <!--<link rel="stylesheet" href="/static/plyr.css">-->
    <!--<link rel="stylesheet" href="/static/lrtk.css">-->
    <!--<script src="/static/jQuery331.js"></script>-->
    <!--<script src="/static/popper.js"></script>-->
    <!--&lt;!&ndash;<script src="/static/layer/layer.js"></script>&ndash;&gt;-->
    <!--<script src="/static/dialog.js"></script>-->
    <!--<script src="/static/bootstrap4.2/js/bootstrap.js"></script>-->
    <!--<script src="/static/jquery.media.js"></script>-->
    <!--<script src="/static/plyr.js"></script>-->
    <!--<script src="/static/jquery.min.js"></script>-->
    <!--<script src="/static/responsiveslides.min.js"></script>-->
    <!--<script src="/static/slide.js"></script>-->

    <link rel="stylesheet" href="/static/bootstrap4.2/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/plyr.css">
    <link rel="stylesheet" href="/static/lrtk.css">
    <script src="/static/jQuery331.js"></script>
    <script src="/static/popper.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js"></script>
    <!--<script src="/static/layer/layer.js"></script>-->
    <script src="/static/dialog.js"></script>
    <script src="/static/bootstrap4.2/js/bootstrap.js"></script>
    <script src="/static/jquery.media.js"></script>
    <script src="/static/plyr.js"></script>
    <script src="/static/slide.js"></script>
    {block name="cur_css"}
       <style>
           .footer{
               position:fixed;
               bottom:0;
               left:0;
           }
           .nav a{
               color:white;
           }


       </style>
    {/block}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="top-school-logo">
                <img src="/index_rec/logo_title.png">
            </div>
            <div class="school-dec">
                改革发展示范学校
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <!--导航部分-->
    <div class="nav">
        <div class="wrap">
            <ul>
                <li>
                    <a href="/">首页</a>
                </li>
                {if condition="!empty($subject)"}
                {volist name="subject" id="vo"}
                <li {if condition="$subject_id==$vo['id']" }class="active" {/if}>
                    <a href="/subject_index?subject_id={$vo['id']}">{$vo['name']}</a>
                </li>
                {/volist}
                {/if}
                <a href="/resource_index" target="_blank"><li >资源库</li></a>
            </ul>
        </div>
    </div>

    {block name="main"}

    {/block}

    {include file="../application/index/view/public/footer.html"}

</div>
    {block name="cur_js"}

    {/block}
</body>
</html>