<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>{block name="title"}标题{/block}</title>
    <link rel="stylesheet" href="/static/bootstrap4.2/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/public.css">
    {block name="cur_css"}{/block}
    <script src="/static/jQuery331.js"></script>
    <script src="/static/popper.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script src="/static/dialog.js"></script>
    <script src="/static/bootstrap4.2/js/bootstrap.js"></script>
</head>
<body class="container">

{include file="../application/index/view/public/public_top.html"}

<div class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            菜单列表
                        </a>
                        <a href="/user_page" class="list-group-item list-group-item-action">个人信息</a>
                        <a href="/user_resource_list" class="list-group-item list-group-item-action">我的资源</a>
                        <a href="/show_add_resource" class="list-group-item list-group-item-action">添加资源</a>
                        {if condition="$user->type == 2"}
                        <a href="/show_add_category" class="list-group-item list-group-item-action">分类管理</a>
                        <a href="/" class="list-group-item list-group-item-action">资源管理</a>
                        <a href="/" class="list-group-item list-group-item-action">用户管理</a>
                        {/if}
                    </div>
                </div>

                <div class="col-md-9">
                    {block name="right-content"}

                    {/block}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="footer">
    <div class="row">
        <div class="col" style="width:100%;height:50px;background-color: #1d2124"></div>
    </div>
</div>

{block name="cur_js"}{/block}
</body>
</html>