<div class="search_form">
    <form id="search_form">
        <table class="table table-striped">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="checkbox" checked autocomplete="off"> 分类1
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="checkbox" autocomplete="off"> 分类22
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="checkbox" autocomplete="off"> 分类 3
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="checkbox" checked autocomplete="off"> 分类1
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="checkbox" autocomplete="off"> 分类22
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="checkbox" autocomplete="off"> 分类 3
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" value="12" autocomplete="off"> 分类1
                        </label>
                        <label class="btn  btn-outline-info">
                            <input type="checkbox" value="13" autocomplete="off"> 分类22
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="checkbox" value="14" autocomplete="off"> 分类 3
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>