<div class="search_form">
    <form id="search_form">
        <table class="table table-striped">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            {if condition="!empty($cat_groups)"}
            {volist name="cat_groups" id="vo"}
            <tr>
                <th class="search_th">{$vo['first_cat_name']}</th>
                <td>
                    <div class="btn-group" data-toggle="buttons">
                        {php}$second_cat_arr=$vo['second_cat_arr']; {/php}
                        {volist name="second_cat_arr" id="category"}
                        <label class="btn btn-outline-dark">
                            <input class="cat_checkbox" type="checkbox" value="{$category['id']}" autocomplete="off"
                                   {if condition="!empty($category_checked)" }
                                   {if condition="in_array($category['id'],$category_checked)" } checked{/if}
                            {/if}
                            >
                            {$category['name']}
                        </label>
                        {/volist}
                    </div>
                </td>
            </tr>
            {/volist}
            {/if}

            {if condition="!empty($res_type)"}
            <tr>
                <th class="search_th">资源类型</th>
                <td>
                    <div class="btn-group" data-toggle="buttons">
                        {volist name="res_type" id="type"}
                        <label class="btn btn-outline-danger">
                            <input class="type_checkbox" type="checkbox" value="{$type['id']}" autocomplete="off"
                            {if condition="!empty($type_checked)"}
                                {if condition="in_array($type['id'],$type_checked)"} checked {/if} {/if}>
                            {$type['name']}
                        </label>
                        {/volist}
                    </div>
                </td>
            </tr>
            {/if}

            <tr>
                <th class="search_th">排序方式</th>
                <td>
                    <select class="form-control" name="type" id="order_type">
                        <option value="1">显示最早</option>
                        <option value="2">显示之前</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th class="search_th">根据标题搜索</th>
                <td>
                    <input type="text" class="form-control" id="title" name="title" placeholder="输入标题进行搜索">
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <button type="button" id="search_btn" class="btn btn-primary btn-lg btn-block">点击查询</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<script>
    var cat_id_arr = new Array();
    var type_id_arr=new Array();
    var url = '';
    var url_category = $('#jump_url').val();
    if (url_category) {
        url = url_category;
    }else{
        url='/user_resource_list';
    }

    $('.cat_checkbox').change(function () {
        var the_cat_id = $(this).val();
        if ($(this).is(':checked')) {
            cat_id_arr.push(the_cat_id);
            cat_id_arr = unique_array(cat_id_arr);
        } else {
            var index = cat_id_arr.indexOf(the_cat_id);
            cat_id_arr.splice(index, 1);
        }
    });

    $('.type_checkbox').change(function () {
        var the_type_id = $(this).val();
        if ($(this).is(':checked')) {
            type_id_arr.push(the_type_id);
            type_id_arr = unique_array(type_id_arr);
        } else {
            var index = type_id_arr.indexOf(the_type_id);
            type_id_arr.splice(index, 1);
        }
    });

    $("#search_btn").click(function () {
        var search_title = $('#title').val();
        var order_type=$('#order_type').val();
        $.post(
            '/search_user_resource_list',
            {
                "search_cat_ids": cat_id_arr.toString(),
                "search_title": search_title,
                "search_type_ids":type_id_arr.toString(),
                "order_type":order_type,
            },
            function (date) {
                window.location.href = url;
            }
        );
    });

    /**
     *  数组去除重复
     *
     * @param a
     * @returns {T[]}
     */
    function unique_array(a) {
        return a.concat().sort().filter(function (item, pos, ary) {
            return !pos || item != ary[pos - 1];
        });
    }
</script>